body {
padding: 0px;
margin: 0px;
box-sizing: border-box;
background: rgb(41,41,41);
}

.seccion1 {
background-image: url(img/playa.jpg);
background-size: cover;
background-attachment: fixed;
width: 100%;
height: 380px;
}

.contenedor1 {
width: auto;
height: auto;
text-align: center;
vertical-align: middle;
border: 1px solid transparent;
}

.bienvenido {
color: rgba(228, 228, 228, 0.842);
text-align: center;
font-size: 150px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;
vertical-align: middle;
border: none;
}

@media screen and (max-width: 1000px) {
.bienvenido {
  font-size: 100px; 
}

.seccion1 {
  height: 200px;
}
}

@media screen and (max-width: 730px) {
.bienvenido {
  font-size: 50px; 
}
}

.boxlogo {
width: 100%;
background: rgb(41,41,41);
}

@media screen and (max-width: 500px) {
.boxlogo {
  height:80px;
}
}

.login {
text-align: center;
overflow: hidden;
}

.login_boton {
color: white;
background: transparent;  
border: none;
border-radius: 10%;
border-bottom: 2px solid greenyellow;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
font-weight: bold;
outline: none;
cursor: pointer;
width: 230px;
height: 10%;
margin: 2%;
overflow: hidden;
padding: 1%;
}

.login_boton:hover {
background: rgba(238, 232, 232, 0.651);
color: rgb(24, 23, 23);
}

.seccion2 {
background-image: url(img/universe.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
width: 100%;
height: 200%;
padding-top: 1%;
}

.pregunta {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;
font-size: 50px;
color: rgba(255, 255, 255, 0.788);
margin-left: 2%;

}

.contenedor2 {
width: 100%;
text-align: center;
}

.enlaces {
width: 300px;
height: 300px;
display: inline-block;
margin: 3%;
clear: both;
overflow: hidden;
}

.enlaces:hover {
padding: auto;
}

.boton_1, .boton_2, .boton_3 {
width: 250px;
height: 250px;
margin-top: 9%;
border: none;
border-radius: 10%;
border-bottom: 10px solid greenyellow;
border-top: 5px solid gray;
background: white;
font-size: 40px;
font-family: cursive;
font-weight: bold;
cursor: pointer;
outline: none;
}

.boton_1:hover, .boton_2:hover, .boton_3:hover {
width: 290px;
height: 290px;
margin: auto;
}

aside {
background: khaki;
width: 50%;
height: 300px;
float: left;
margin: 3%;
background-image: url(img/nubes.gif);
background-repeat: no-repeat;
background-size: cover;
}

aside h2 {
font-family: cursive;
font-weight: bold;
font-size: 70px;
text-align: center;
vertical-align: middle;
color: rgba(0, 132, 255, 0.692);
}

footer {
background: rgba(100, 199, 75, 0.884);
width: 35%;
height: 300px;
float: right;
margin: 3%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 15px;
text-align: center;
vertical-align: middle;
color: black;
padding-left: 1%;
padding-right: 1%;
}

@media screen and (max-width: 850px) {
aside {
  float: none;
  width: 100%;
  height: auto;
  margin: 0px;
}
footer {
  float: none;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}
}

@media screen and (max-width: 450px) {
aside h2 {
  font-size: 35px;
}
}