
footer {
    background:transparent;
    color:white;
    text-align: center;
}
h1 {
    background: rgb(94, 171, 237);
    color: #432156;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bond;
    text-align: center;
}
h2 {
    color: rgb(94, 94, 207);
    font: bold 20px sans-serif;
}
 header, footer, aside, section, article {
     display: block;
 }

 .cuerpo {
    background-image: url(img/Big.png) ;
    background-size: 1400px 1000px;
    background-attachment: fixed;
    margin: auto;
    border: 3px solid red;
 }

 ul {
    text-align: left;
 }

 h2{
    text-align: center;
 }

 p {
     margin: 10px;
 }

 body {
     background-color: teal;
 }

 .menu li {
     list-style: none;
     padding: 5px;
     font: bold 20px verdana;
     border: 1px solid green;
     display: inline-block;
 }

 nav {
     text-align: center;
     background: forestgreen;
 }

 section {
    border: 3px solid rebeccapurple;
    padding: 10px;
    margin: 20px;
    width: 750px;
    float: left;
    background-color: rgba(255, 255, 255, 0.459)
 }

 .columna {
    width: 450px;
    border: 3px solid brown;
    float: right;
    margin-top: 20px;
    margin-right: 35px;
    color: rgb(49, 117, 36);
    font-weight: bold;
    background-color: rgb(120, 163, 192);
 }

 table {
     text-align: center;
     margin-left: 10%;
     margin-bottom: 10%;
     border: 3px solid brown;
 }

 td {
     border: 1px solid blue;
     color: white;
     font-weight: bold;
 }

 th {
     border: 2px solid brown;
     text-align: center;
     color: darkblue;
 }

 .tabla_uno, .tabla_dos {
    background-image: url(img/Bogotá.png);
    background-size: 100%;
}

.th1:hover, .th1:focus, .th1:active, .th2:hover, .th2:focus, .th2:active, 
.th3:hover, .th3:focus, .th3:active, .td1:hover, .td1:focus, .td1:active, 
.td2:hover, .td2:focus, .td2:active, .td3:hover, .td3:focus, .td3:active, 
.td4:hover, .td4:focus, .td4:active, .td5:hover, .td5:focus, .td5:active, 
.td6:hover, .td6:focus, .td6:active, .td7:hover, .td7:focus, .td7:active, 
.td8:hover, .td8:focus, .td8:active, .td9:hover, .td9:focus, .td9:active, 
.td10:hover, .td10:focus, .td10:active, .td11:hover, .td11:focus, 
.td11:active, .td12:hover, .td12:focus, .td12:active, .td13:hover, 
.td13:focus, .td13:active, .td14:hover, .td14:focus, .td14:active, 
.td15:hover, .td15:focus, .td15:active, .td16:hover, .td16:focus, 
.td16:active{
    background: rgba(179, 77, 77, 0.377);
    color:blue;
}

 form {
     margin: 7%;
     color: blue;
 }

 .carros, .italia {
     width: 70px;
     height: 50px;
     margin-left: 1%;
     margin-bottom: 5%;
     border: 3px solid rgb(233, 231, 226);
 }

 .autos {
     padding-left: 3%;
     padding-top: 3%;
     padding-right: 3%;
     padding-bottom: 3%;
 }

 .datetime {
     border: 1px solid white;
 }

 .pie {
     clear: both;
 }

 .derechos {
     clear: both;
     font-weight: bold;
     margin-top: 30px;
     margin-bottom: 10px;
     background: forestgreen;
 }

 .starman {
     float: left;
     margin-left: 20px;
     border: 7px dotted seagreen;
     margin-top: 40px;
 }

 .gary {
     float: none;
     border: 7px dashed seagreen;
 }

 .bogota {
     float: right;
     margin-right: 20px;
     border: 7px double seagreen;
     margin-top: 40px;
 }

.boton {
    background: seagreen;
    color: black;
    font-weight: bold;
}

.boton:hover, .boton:focus, .boton:active {
    background:white;
    color: black;
    font-weight: bold;
}
.italia:hover, .italia:focus, .italia:active, .carros:hover, .carros:focus, .carros:active {
    width: 80px;
    height: 60px;
    margin: 0em;
}